@media only screen and (min-width: 32.5em) {
  nav ul {
    display: flex;
  }

  #logo {
    width: 300px;
    height: 300px;
  }

  nav ul li {
    flex: 1 1 auto;
    font-size: 1.2rem;
  }

  header {
    font-size: 1.5rem;
  }

  .persona {
    width: 250px;
    height: 250px;
    grid-column: 1/2;
    margin-left: 2.5rem;
    padding: 20px;
  }

  #persona1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    float: right;
  }

  .section-headers {
    text-align: center;
  }

  #palette {
    width: 400px;
    height: 200px;
  }
}
