.logo {
  width: 4rem;
  padding: 2px;
}

body {
  font-size: 16px;
  font-family: "Mukta", sans-serif;
}

.banner {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 1rem;
  width: 100%;
  background-color: #d65f1d;
  opacity: 0.8;
  margin: auto;
}

.banner-content {
  margin: auto;
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  font-size: 0.7rem;
}

.handshake {
  position: absolute;
  width: 1rem;
  padding: 0 5px;
  left: 0;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: auto;
  font-size: 1rem;
}
header {
  display: block;
  width: 100%;
  height: 110px;
}

#title {
  margin-bottom: 0;
}

.herocontainer {
  width: 85%;
  height: 120px;
  align-items: center;
  position: relative;
  margin: 5px auto;
}

#plumeria {
  position: absolute;
  width: 100%;
  height: 100%;
  outline: 2px solid white;
  outline-offset: -10px;
  filter: brightness(50%);
}

.calltoaction {
  position: absolute;
  right: 28%;
  bottom: 38%;
}

.welcome {
  color: white;
  font-size: 1.2rem;
  font-family: "Mukta Malar", sans-serif;
  position: absolute;
  left: 7%;
  top: 10%;
}

.joinbtn {
  font-size: 1rem;
  width: 5rem;
  background-color: transparent;
  color: white;
  box-shadow: 2px 2px 10px #00c797;
}

.topheader {
  position: relative;
  display: block;
  width: 100%;
  height: 70%;
  align-items: center;
  margin-top: 10px;
}

.lftheader {
  margin: auto;
  display: flex;
  justify-content: center;
}

#mediaicons {
  position: absolute;
  right: 10px;
  top: 25px;
  display: flex;
  padding-top: 5px;
}

h1 {
  font-size: 1.2rem;
  font-family: "Playfair Display", serif;
}

h3 {
  font-size: 1rem;
}
.subheadings {
  font-size: 0.9rem;
  font-family: "Mukta Malar", sans-serif;
  font-style: italic;
  color: #197e80;
}

.mainheading {
  margin-left: 0;
  padding: 2px;
}

.boxes {
  display: block;
}

#join {
  display: none;
}

#news {
  display: block;
  width: 85%;
  height: 160px;
  border: #053d2c solid 2px;
  margin: 5px auto;
  text-align: center;
  background-color: #053d2c;
  color: white;
}

.spotlightbox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: 300px;
  width: 85%;
  text-align: center;
  margin: 5px auto;
  background-color: #053d2c;
  color: white;
}

.spot1 {
  border: white 0.5px solid;
  margin: 5px;
  text-align: center;
  padding: 5px;
}

.spot2 {
  border: white 0.5px solid;
  margin: 0 5px 5px 5px;
  padding: 2px;
  text-align: center;
}

.spot3 {
  display: none;
}

#events {
  display: block;
  width: 85%;
  height: 160px;
  border: #053d2c solid 2px;
  margin: 5px auto;
  text-align: center;
  background-color: #053d2c;
  color: white;
  padding: 5px;
}

#weather {
  display: block;
  width: 85%;
  height: 160px;
  border: #053d2c solid 2px;
  margin: 5px auto;
  text-align: center;
  background-color: #00c797;
  color: black;
  padding: 5px;
}

.weathericon {
  margin: 5px auto;
  width: 2rem;
}

.links.active {
  display: block;
  position: relative;
  left: 0;
}

ul {
  list-style: none;
  position: absolute;
  margin: 0;
}

.links ul li a {
  font-size: 1rem;
  font-family: "Mukta Malar", sans-serif;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  background-color: #053d2c;
  color: white;
}

nav {
  display: flex;
  position: absolute;
  width: 30%;
  height: 120%;
  top: 30%;
  left: 5%;
  overflow: visible;
  z-index: 10;
}

.links {
  display: none;
}

button {
  cursor: pointer;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 2px;
  height: 25px;
  background-color: #00c797;
  border: none;
  overflow: visible;
}

.icons {
  width: 25px;
  height: 25px;
  padding: 1px;
}

#today {
  display: block;
  text-align: center;
  color: white;
  background-color: #053d2c;
  height: 1rem;
  width: 95%;
  margin: 5px auto;
  padding: 5px;
  font-size: 0.7rem;
  font-family: "Mukta Malar", sans-serif;
}

footer {
  display: block;
  text-align: center;
  font-size: 0.8rem;
  margin: 4px;
  padding: 2px;
}

.footertitle {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
  margin-top: 0;
  padding: 2px;
}

.border {
  border: solid 1px #053d2c;
  width: 90%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  margin-bottom: 5px;
}
.baseft {
  background-color: #053d2c;
  padding: 5px;
  color: white;
  margin: 5px;
}
