@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  body {
    font-size: 16px;
  }

  header {
    display: block;
    width: 95%;
    height: 300px;
    margin: 5px auto;
  }

 .topheader {
    display: grid;
    grid-template-columns: 30% 60% 10%;
    height: 8rem;
  }

  .logo {
   width: 6.5rem;
  }

  .navbox {
    display: block;
    justify-items: center;
    grid-column: 2/3;
    height: 100px;
    width: 100%;
    background-color: lightblue;
    margin: auto;
  }

  nav .links {
    background-color: gray;
    height: 3rem;
    width: 100%;
    margin: 2px auto;
  }
  .links {
    display: flex;
    width: 100%;
    height: 3rem;
    margin: auto;
  }

  ul {
    display: flex;
  }

  #today {
    font-size: 1.1rem;
    height: 2rem;
    align-items: center;
  }

  .hamburger {
    display: none;
  }

 

  #mediaicons {
    position: absolute;
    right: 10px;
    top: 40px;
  }
 
  ul {
    width: 100%;
    margin: auto;
    padding: 0;
    height: 100%;
    align-items: center;
  }

nav li {
  display: inline;
  width: 20%;
  text-align: center;
}

ul li a:hover {
  background-color: #00c797;
  color: black;
  font-size: 1.6rem;
}

 .lftheader {
    justify-self: flex-start;
    display: flex;
    justify-content: center;
  }

  .boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 5px;
  }

  #hero {
    grid-column: 2/4;
    grid-row: 1/4;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #events {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #weather {
    grid-column: 2/4;
    grid-row: 3/4;
    width: 100%;
    height: 98%;
    margin: 0;
    padding: 0;
  }

  #join {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #news {
    grid-column: 4/5;
    grid-row: 3/4;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .spotlight {
    display: block;
    grid-column: 4/5;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #spot1 {
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
  }

  #spot2 {
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
  }

  footer {
    font-size: 1rem;
    margin-top: 8px;
  }
}
