@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  body {
    font-size: 16px;
  }

  header {
    display: block;
    width: 95%;
    height: 180px;
    margin: 5px auto;
  }

 .topheader {
    display: grid;
    grid-template-columns: 30% 60% 10%;
    height: 8rem;
    align-items: center;
  }

 .lftheader {
  justify-self: flex-start;
  display: flex;
  justify-content: center;
}

  .logo {
   width: 6.5rem;
  }

nav {
  grid-column: 2/3;
  width: 90%;
  height: 2rem;
  margin: 5px auto;
}

.links {
  display: flex;
}

ul {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 2px;
}

li {
  width: 25%;
  text-align: center;
}

ul li a:hover {
  background-color: #00c797;
  color: black;
  font-size: 1.6rem;
}

  #today {
    display: block;
    width: 98%;
    font-size: 1.1rem;
    align-items: center;
  }

  .hamburger {
    display: none;
  }

  #mediaicons {
    position: absolute;
    right: 10px;
    top: 40px;
  }
 
main {
    display: block;
}

.boxes {
    display: grid;
    margin: 5px auto;
    grid-template-columns: 300px 1fr 300px;
  }

  .herocontainer {
    display: flex;
    grid-column: 2/3;
    grid-row: 1/3;
    width: 98%;
    height: 100%;
    
  }

  #plumeria {
    grid-column: 2/3;
    grid-row: 1/3;
    width: 100%;
    height: 99%;
   
    
  }

  .calltoaction {
    right: 32%;
    bottom: 25%;
  }

  .welcome {
    font-size: 2.5rem;
  }

  #events {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
    height: 100%;
  }

  #weather {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 96%;
    height: 100%;
    margin-top: 0;
    
  }

  #join {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 98%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #news {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 98%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .spotlightbox {
    display: block;
    grid-column: 3/4;
    grid-row: 1/4;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .spot1 {
    width: 100%;
    height: 33%;
    margin: 0;
    padding: 0;
  }

  .spot2 {
    width: 100%;
    height: 33%;
    margin: 0;
    padding: 0;
  }

  .spot3 {
    width: 100%;
    height: 33%;
    margin: 0;
    padding: 2px;
    border: white 0.5px solid;
  }

  footer {
    font-size: 1rem;
    margin-top: 8px;
  }
}
