.main-grid {
        display: block;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

main {
    display: block;
    padding: 1rem;
    margin: auto;
}

header {
    background-color: darkslategray;
    padding: 20px;
    text-align: center;
}
h1 h2 h3 {
    font-family: 'Raleway', sans-serif;
    color: yellow;
}
p a {
    font-family: 'Pragati Narrow', sans-serif;
}